.swiper_container{
  /* width: 90%; */
  display: flex;
  aspect-ratio: 1/1;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  flex-wrap: wrap;
}

.container{
  width: "100%";
  display: flex;
  justify-content: center;

  margin-top : 5vh;
}

.image_container{
  position: relative;
  width: 95%;
  aspect-ratio: 5/4;
  border-radius: 20px;
  overflow: hidden;
}
.image_container img{
  border-radius: 20px;
  overflow: hidden;
}

.goto_container{
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  color: white;
  background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.15) 50%, rgba(0,0,0,0) 100%);
  transition: .5s ease-in-out;
  cursor: pointer;
  padding: 0 5px;
}
.goto_container p{
  font-family: 'Paperlogy-8ExtraBold';
  width: 100px;
  word-break: keep-all;
  line-height: 1.2;
  text-align:end;
}
.goto_container:hover{
  right: 5px;
}

.text{
  font-family: 'Paperlogy-4Regular';
  font-size: 1rem;
  margin-top: 5vh;
  line-height: 1.4;
  word-break: keep-all;
}

.tags{
  font-family: 'Paperlogy-5Medium';
  font-size: 1rem;
  margin-top: 3vh;
}
