


.comments{
  height: 40vh;
  overflow-y: scroll;
  padding: 0 10px;
  margin-top: 20px;
}

/* WebKit 기반 브라우저 (Chrome, Safari 등)에서 스크롤바 스타일링 */
.comments {
  overflow-y: scroll;
  scrollbar-width: thin; /* Firefox 전용 */
  scrollbar-color: #888 #f1f1f1; /* Firefox 전용 */
}

/* Chrome, Safari, Edge */
.comments::-webkit-scrollbar {
  width: 12px; /* 스크롤바 너비 */
}

.comments::-webkit-scrollbar-track {
  background: #f1f1f1; /* 스크롤바 배경 */
}

.comments::-webkit-scrollbar-thumb {
  background-color: #888; /* 스크롤바 색상 */
  border-radius: 10px; /* 스크롤바 둥글게 */
  border: 3px solid #f1f1f1; /* 스크롤바와 트랙 사이에 여백 */
}

.comments::-webkit-scrollbar-thumb:hover {
  background: #555; /* 스크롤바 호버 시 색상 */
}

/* Firefox에서 스크롤바 스타일링 */
.comments {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}




.seperator{
  display: flex;
  align-items: center;
  width: 100% ;
  margin-top: 50px;
}
.seperator p{
  font-family:  'Paperlogy-8ExtraBold', sans-serif;
  font-size: 1rem;
}
.seperator .line{
  flex: 1;
  margin-left: 20px;
  height: 1px;
  background-color: black;
}


.select_character{
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.img{
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  border: 1.5px solid black;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
  transition: .5s;
}
.img:hover{
  background-color: rgb(225, 225, 225);
  
}
.selected{
  background-color: rgb(200, 200, 200);
}

.textinput {
  display: flex;
  align-items: center;
  background-color: rgb(224, 224, 224);
  padding: 5px 13px;
  border-radius: 10px;
  margin-bottom: 10px;
  
}

.textinput p {
  margin-right: 10px;
  font-size: .85rem;
  font-family:  'Paperlogy-8ExtraBold', sans-serif;
  width: 100px;
}

.textinput .input {
  all: unset; /* 기본 스타일 모두 초기화 */
  padding: 5px;
  width: 100%;
  font-size: 0.9rem;
	font-family: 'Paperlogy-4Regular';
  line-height: 1.2;
}

.textinput .input:focus {
  outline: none;
  border-bottom: 2px solid blue; /* 포커스 시 테두리 색상 변경 */
}

.send_button{
  padding: 10px 10px;
  border-radius: 10px;
  background-color: black;
  color: white;
  margin-top: 20px;
  cursor: pointer;
}
.send_button.disabled{
  background-color: rgb(150,150,150);
}
.send_button p{
  font-size: 1rem;
  font-family:  'Paperlogy-8ExtraBold', sans-serif;
  text-align: center;
}



.loader{
  text-align: center;
  font-size: 0.9rem;
	font-family: 'Paperlogy-4Regular';
  margin-top: 30px;
}